<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<div class="header">
<div class="h1">Home</div>
<div class="h4"><%= name %></div>
</div>

<div class="menu"></div>
