<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    


</head>

<div class="header">
<div class="h1">Home</div>
<div class="head-left">
<div class="h4"><%= name %></div>
<button id="logout-button" type="button" class="btn btn-danger">Log Out</button>
</div>

</div>

<div class="menu"></div>
<script src="/javascripts/logout.js"></script>