<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    
</head>

<%- include('comps/header', {name: name, title: 'Menu'}); %>

</div>

<div class="menu">
    <div class="admin-items">
            <% if(role === 'admin'){ %>
                <%- include('comps/card', {admin: true,href: '/users' , link: '/images/user.svg' , title: "Users" }); %>
            <% } %>

            <% if(role==='admin' ){ %>
                <%- include('comps/card', {admin: true, href: '/clients' , link: '/images/clients.svg' , title: "Clients" }); %>
            <% } %>
    </div>
    
</div>
<script src="/javascripts/logout.js"></script>