<link rel="stylesheet" href="/stylesheets/header.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />

<div class="header">
    <div class="h1">
        Users
    </div>
    <div class="head-left">
        
        <button onclick="history.back()" style="margin-bottom: 4px;" id="logout-button" type="button" class="btn btn-primary">< Back</button>
    </div>
