<link rel="stylesheet" href="/stylesheets/header.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />



<div class="header">
    <div class="h1">
        Users
    </div>
    <div class="head-left">
        <button  style="margin-bottom: 4px;" id="logout-button" type="button" class="btn btn-success">+ Create new</button>
        <button onclick="history.back()" style="margin-bottom: 4px;" id="logout-button" type="button" class="btn btn-primary">< Back</button>
    </div>
</div>
<div id="wrapper" style="margin-inline: 100px;"></div>

<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  var dat = <%- JSON.stringify(data) %> ;
  var datAr = dat.map(obj => Object.values(obj))
 
  const myGrid = new  gridjs.Grid({
            
          columns: [
              { id: 'id', name: 'ID' },
              { id: 'username', name: 'Username' },
              { id: 'password', name: 'Password' },
              { id: 'role', name: 'Role' },
              {
                  id: 'actions',
                  name: 'Actions',
                  formatter: (_, row) => {
                      const button = gridjs.h('button', {
                          onClick: () => deleteItem(row.cells[0].data)
                      }, 'Delete');
                      return gridjs.h('td', {}, button);
                  },
              },
          ],
            data: datAr
        })
    myGrid.render(document.getElementById("wrapper"));
     function deleteItem(id) {
            $.ajax({
                url: `/deleteuser/${id}`,
                method: 'POST',
                success: function (response) {
                    console.log(response);
                    location.reload()
                },
                error: function (error) {
                    console.error(error);
                    // handle error response
                }
            });
        }
    
</script>