.box {
    display: flex;
    height: 143px;
    width: 135px;
    padding-block: 20px;
    border: 1px solid #a6a6a6;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.2s cubic-bezier(0.18, 0.89, 0.29, 0.93);
    }

.title {
    font-size: 18px;
    color: #505050;
}
.box:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.icon {
        object-fit: cover;
            width: 30px;
            padding-top: 15px;
}