.title {
    padding-top: 7px;
    padding-bottom: 10px;
}
.filed {
    padding-block: 5px;
    width: 220px;
}
.btn {
    margin-top: 20px;
}
label {
    margin-bottom: 0 !important;
}
.box {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 20px;
    padding-inline: 40px;
    
}
.container {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.war {
        color: #cf3a3a;
        padding-block: 20px;
}
.showpass {
        padding-top: 5px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-start;
}
.checktext {
    padding-left: 4px;
    font-size: 12px !important;
}
body {
   /* background-image: url("/images/background.jpg");
    background-repeat: repeat; */
}
.copyright {
    font-size: 12px;
        width: 100%;
        bottom: 25px;
        display: flex;
        position: fixed;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        opacity: 0.5;
}