 .filed {
     padding-bottom: 20px;
 }
 .formm {
    padding-top: 15px;
 }
 .modal-body {
    padding-inline: 1rem;
    padding-block: 0 !important;
 }

 .popup {
    margin-inline: 104px;
    color: #dc3545;
 }

 .infofields {
   display: flex;
   padding-top: 20px ;
 }
 .edit-infofields {
    display: flex;
    padding-top: 20px;
 }
 .frVal {
   margin-right: 10px;
 }

 .btn-trash {
         color: #dc3545 !important;
         background-color: #fff !important;
         border-color: #fff !important;
      
 }