 .filed {
     padding-bottom: 20px;
 }
 .formm {
    padding-top: 15px;
 }
 .modal-body {
    padding-inline: 1rem;
    padding-block: 0 !important;
 }

 .popup {
    margin-inline: 104px;
    color: #dc3545;
 }