
<link rel="stylesheet" href="/stylesheets/card.css">
<a href="<%= href %>">
<div class="box">
    
    <div >
        <img class="icon" src="<%= link %>" alt="">
    </div>
    <div class="title"><%= title %></div>
    
</div>
</a>
