

<div class="header">
    <div class="h1"><%= title %></div>
    <div class="head-left">
        <div class="h5 name">
            <%= name %>
        </div>
        <button id="logout-button" type="button" class="btn btn-danger">Log Out</button>
    </div>
